body {
  height: 90vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;

  background-image: url(../IMAGES/Background_yellow.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* SEARCH BAR */
.searchBar {
  width: 100vw;
  height: 15vw;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #ab4300;
  filter: drop-shadow(0 2mm 4mm rgba(207, 207, 207, 0.529));
  box-sizing: border-box;
}
.searchBar > input {
  width: 90%;
  height: 70%;
  background-image: url(../IMAGES/search.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 10px top 0px;
  background-color: white;
  border-radius: 10px;
  border: 5px solid white;
  font-size: 2vh;
}

/* BEER RESULTS */
.beerResults {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.noResult {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 2em;
}

.noResult > p {
  font-family: "Snippet", sans-serif;
}

/* EACH INDIVIDUAL BEER "PANE" */
.beerDiv {
  width: 90vw;
  height: 50vw;
  display: grid;
  grid-template-columns: 1% 99%;
  margin: 3.3vw;
  background-color: white;
  opacity: 90%;
  border-radius: 15px;
  font-family: "Snippet", sans-serif;
  filter: drop-shadow(0 0 0.3rem #00000030);
  color: #ab4300;
  font-size: 2vh;
  line-height: 3vh;
}

.beerDiv > div:last-child {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100%;
}

.beerDiv > div:last-child > div:first-child {
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beerDiv > div:last-child > div:first-child img {
  height: 70%;
}

.beerDiv > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
}

.beerDiv > div:last-child > div:last-child > h3 {
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 2px;
  line-height: 1em;
  margin: 5px 0px 5px 0px;
}

/* HEARTS */
.filled {
  height: 10vw;
  width: 10vw;
  position: relative;
  left: 77vw;
  top: 5%;
  background-image: url(../IMAGES/heart-filled.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.notfilled {
  height: 10vw;
  width: 10vw;
  position: relative;
  left: 77vw;
  top: 5%;
  background-image: url(../IMAGES/heart-nofilled.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* RATING (STARS) */
.rating {
  display: inline-block;
  overflow: hidden;
  font-size: 5.3vw;
  color: rgb(0, 0, 0);
}
.norating {
  font-style: italic;
  font-family: "Snippet", sans-serif;
}

.starDivPopup .norating {
  height: 17vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#favorites {
  font-family: "Shadows Into Light", cursive;
  color: #eddc46;
  font-size: 5vh;
  font-weight: 100;
}

/* ONE BEER POPUP */
.oneBeerPopUp {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 5;
  background-image: url(../IMAGES/Background_red.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  font-size: 2vh;
  text-align: center;
}

.oneBeerPopUpHeader {
  display: flex;
  align-items: center;
  height: 9vh;
  background-color: #ab4300;
  position: sticky;
  top: 0;
  z-index: 10;
}

.oneBeerPopUpHeader img:first-child {
  height: 50%;
  padding: 2vw;
  /* Margin helps placing heartBtn */
  margin-right: -4vw;
}

.oneBeerPopUpHeader img:last-child {
  height: 60%;
  margin-left: auto;
  padding-right: 3%;
}

.oneBeerPopUpContent {
  mask-image: linear-gradient(to top, black calc(100% - 40px), transparent 100%);
}

.oneBeerPopUpInfo {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Snippet", sans-serif;
  text-align: left;
}

.oneBeerPopUpInfo img {
  height: 70%;
  padding-top: 5vw;
}

.starDivPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

.reviewBtn,
.reviewSubmit {
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  background-color: #ab4300;
  color: white;
  padding: 4vw;
  border-radius: 15px;
  font-family: "Snippet", sans-serif;
  text-align: center;
}

.ratingNumber {
  position: relative;
  left: 4vw;
  top: 0.5vw;
  font-family: "Snippet", sans-serif;
  text-align: center;
  /* 0 width to ensure the stars remain centered */
  width: 0;
  /* Ensures no linebreak */
  white-space: nowrap;
}

/* REVIEWS */

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vw auto 25vw auto;
}

.review {
  width: 90vw;
  max-height: 70vw;
  margin: 3.3vw;
  background-color: white;
  opacity: 90%;
  border-radius: 15px;
  font-family: "Snippet", sans-serif;
  filter: drop-shadow(0 0 0.3rem #00000030);
  padding: 3vw;
  box-sizing: border-box;
  text-align: left;
}

.reviewHeader {
  display: grid;
  grid-template-columns: 80% 20%;
  height: 20%;
}

.reviewDelete {
  background-image: url(../IMAGES/delete.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 7vw;
}

.reviewRating {
  width: 40%;
  display: flex;
  align-items: center;
}

/* ADD REVIEW POPUP */
.reviewWindow {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
  background-image: url(../IMAGES/Background_red.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewExit {
  position: absolute;
  left: 5vw;
  top: 5vw;
  background-image: url(../IMAGES/close.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 8vw;
  height: 8vw;
}

.reviewImage {
  height: 60vw;
  padding-top: 10vw;
}

.reviewImage img {
  height: 100%;
}

.starContainer {
  display: flex;
}

.starContainer div {
  font-size: 10vw;
}

.reviewInput {
  width: 80%;
  height: 35%;
}

.reviewInput textarea {
  width: 100%;
  border-radius: 10px;
  border: 5px solid white;
  filter: drop-shadow(0 0 0.3rem #00000030);
  box-sizing: border-box;
  margin-bottom: 5vw;
  resize: none;
  height: 95%;
}

.showStyling {
  width: 30%;
  background-color: #ab4300;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  padding: 2vw;
  border-radius: 10px;
}
