body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;

  background-image: url(../IMAGES/Background_yellow.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
#logInWrapper {
  height: 100%;
  width: 90%;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}

#logIn {
  background-color: #ab4300;
  text-align: center;
  padding: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 5% 0 5% 0;
  justify-content: center;
  border-radius: 10px;
}

#logIn > input {
  height: 4vh;
  background-color: #fffbf3;
  margin: 10px;
  border-radius: 10px;
  border: 5px solid #fffbf3;
}

#buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 8vh;
  color: #eddc46;
  font-weight: 100;
}

h2 {
  font-size: 4vh;
  color: #eddc46;
  font-weight: 50;
}

a {
  text-align: center;
}

#createAccountButton {
  background-color: #ab4300;
  color: #eddc46;
}
