/* Main CSS for frequently used elements such as the menu */

#mainMenu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgray;
    width: 100vw;
    height: 25vw;
    position: sticky;
    bottom: 0px;
    filter: drop-shadow(0 -2mm 4mm rgba(207, 207, 207, 0.529));
}

#mainMenu a img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    padding: 0px 10px 0px 10px;
}
