/* Main CSS for frequently used elements such as the menu */

#mainMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;

  width: 100vw;
  height: 25vw;
  position: sticky;
  bottom: 0px;
  filter: drop-shadow(0 -2mm 4mm rgba(207, 207, 207, 0.529));
  z-index: 10;
}

#mainMenu a img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  padding: 0px 10px 0px 10px;
}

.Buttons {
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  border: solid 5px white;
  width: 50%;
  padding: 1vh;
  font-family: "Shadows Into Light", cursive;
  color: #ab4300;
  font-size: large;
}

/* POPUP for errors */

.display_none {
  display: none;
}

.display_error {
  background-color: #ffffffbe;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3vh;
  color: #ab4300;
  font-family: "Snippet", sans-serif;
}

.display_error > div {
  filter: drop-shadow(0 -2mm 4mm rgba(207, 207, 207, 0.529));

  background-color: white;
  position: absolute;
  top: 25vh;
  bottom: 25vh;
  left: 5vw;
  right: 5vw;
}
.display_error div > h1 {
  font-family: "Shadows Into Light", cursive;
  color: #ab4300;
  font-size: 8vh;
  font-weight: 100;
}

.display_error div > p {
  font-size: 3vh;
}

.display_error div > button {
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  border: solid 3px #ab4300;
  width: 50%;
  padding: 1vh;
  font-family: "Shadows Into Light", cursive;
  color: #ab4300;
  font-size: x-large;
}

.display_error div > button > a {
  text-decoration: none;
  color: #ab4300;
}
